<div class="flex items-end gap-2 px-2 pt-2">
  <button type="button">
    <label for="input-files" class="cursor-pointer">
      <i class="icon-attach-file text-secondary hover:text-primary text-2xl"></i>
    </label>
  </button>
  <div class="flex flex-col flex-grow gap-2">
    <div
      [ngClass]="{ 'hidden': selectedFiles.length === 0 }"
      class="max-h-60 flex flex-wrap gap-4 pt-2 overflow-y-auto">

      <ng-container *ngFor="let file of filesForPreview; let i = index">
        <ng-container *ngIf="file.startsWith('data:image/'); else filePreview">
          <div class="relative">
            <img
            class="max-w-14 border-2 border-gray-400 border-dashed rounded-md"
            [src]="file"
            alt="Preview attachment"
            loading="eager">
            <button
              type="button"
              class="-top-2 -right-2 absolute px-1 bg-gray-300 rounded-full"
              (click)="popSelectedFile(i)">
              <i class="icon-close"></i>
            </button>
          </div>
        </ng-container>
        <ng-template #filePreview>
          <div
          [matTooltip]="file"
          matTooltipPosition="above"
          class="max-w-14 min-w-14 relative flex items-center justify-center border-2 border-gray-400 border-dashed rounded-md">
            <i [ngClass]="{
              'icon-word text-blue-700': file.endsWith('.doc'),
              'icon-pdf text-red-600': file.endsWith('.pdf'),
              'icon-zip text-yellow-400': file.endsWith('.rar') || file.endsWith('.zip')
            }"
            class="text-3xl"></i>
            <button
              type="button"
              class="-top-2 -right-2 absolute px-1 bg-gray-300 rounded-full"
              (click)="popSelectedFile(i)">
              <i class="icon-close"></i>
            </button>
          </div>
        </ng-template>
      </ng-container>

      <button class="min-w-14 min-h-14 relative border-2 border-gray-400 border-dashed rounded-md">
        <input class="absolute top-0 bottom-0 left-0 right-0 w-full h-full opacity-0 cursor-pointer"
          id="input-files"
          type="file"
          accept="image/*, .pdf, .doc, .docx, .rar, .zip"
          [formControl]="filesInput"
          (change)="onFileSelect($event)"
          multiple>
        <i class="icon-add-circle text-xl text-gray-500"></i>
      </button>
    </div>
    <textarea
      #input
      class="no-scrollbar w-full rounded-lg"
      [formControl]="messageInput"
      cols="30"
      rows="1"
      placeholder="Aa"></textarea>
  </div>

  <button [disabled]="!messageInput.valid && selectedFiles.length === 0" (click)="onSendMessage()">
    <i
      [ngClass]="messageInput.valid || selectedFiles.length > 0 ? 'text-first hover:text-primary' : 'text-gray-400'"
      class="icon-send text-2xl">
    </i>
  </button>
</div>
