/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "libs/icomoon/style.css";

* {
  font-family: "Roboto Condensed", sans-serif;
}

.text-unica-one {
  font-family: "Unica One", sans-serif;
}

.text-poppins {
  font-family: "Poppins", sans-serif;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}

textarea:focus, input:focus {
  --tw-ring-shadow: none !important;
}
