<form [formGroup]="form" class="flex flex-col items-center justify-center gap-4 p-8" (submit)="onSubmit()">
  <img
    class="max-w-32"
    src="/assets/images/yuhat.png"
    alt="Yuhat logo"
    loading="eager"
    fetchPriority="high"
    draggable="false">

  <h1 class="text-unica-one text-3xl font-semibold text-center">Forget password</h1>
  <h6 class="text-poppins text-center text-gray-600">Use your username or password to reset password</h6>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Username or Email</mat-label>
    <input matInput formControlName="username" placeholder="Your username or email">
    <mat-hint class="text-gray-500">A validation code will be sent to your email</mat-hint>
    <mat-error *ngFor="let error of getObjectKeys(form.get('username')?.errors)">
      {{ usernameValidationMsg[error] }}
    </mat-error>
  </mat-form-field>

  <p class="text-red-600" *ngIf="formError">{{ formError }}</p>

  <button
    [disabled]="formSubmitted"
    type="submit"
    class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl font-medium rounded-lg px-5 py-2.5 text-center w-full">
    Reset password
  </button>

  <p class="text-start block w-full mt-2 text-gray-700">
    Return to <a class="hover:text-blue-600 font-semibold" routerLink="/auth/register">login page</a>
  </p>
</form>
