.form-image {
  max-width: 400px;

  img {
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
  }

  label {
    z-index: 2;
  }

  input {
    z-index: 1;
  }
}
