<div class="bg-first text-white px-4 py-2.5 flex justify-between items-center shadow-lg">
  <div class="flex items-center justify-center gap-2">
    <ng-container *ngIf="selectedRoomChat.type === 'personal'">
      <img
      class="max-w-16 border-slate-700 border-2 rounded-full"
      [src]="selectedRoomChat.participants[0].user.avatar"
      [alt]="'Avatar of room chat ' + selectedRoomChat.id">
      <div>
        <h6 class="text-lg font-semibold">{{ selectedRoomChat.participants[0].user.fullname }}</h6>
        <p>Online</p>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedRoomChat.type === 'group'">
      <img
      class="max-w-16 border-slate-700 border-2 rounded-full"
      [src]="selectedRoomChat.avatar"
      [alt]="'Avatar of room chat ' + selectedRoomChat.id">
      <h6 class="text-lg font-semibold">{{ selectedRoomChat.name }}</h6>
    </ng-container>
  </div>

  <div class="z-20">
    <button type="button" (click)="onViewRoomChatInfo()">
      <i class="icon-info hover:text-fourth text-third text-2xl"></i>
    </button>
  </div>
</div>

<div #roomChatInfoSidebar class="left-sidebar hide absolute top-0 left-0 z-10 w-full h-full overflow-hidden transition-all duration-700">
  <div (click)="onViewRoomChatInfo()" class="bg-slate-600 opacity-80 background w-full h-full"></div>
  <div class="info-sidebar bg-second/80 absolute top-0 right-0 z-10 flex flex-col items-center w-1/4 h-full gap-2 pt-8 transition-all duration-700 border-l-2 border-gray-600 shadow-lg opacity-0">
    <ng-container *ngIf="selectedRoomChat.type === 'personal'; else groupChat">
      <img [src]="selectedRoomChat.participants[0].user.avatar"
      [alt]="'Avatar of room chat' + selectedRoomChat.id"
      class="max-w-52 border-2 border-gray-500 rounded-full">
      <h6 class="text-xl font-semibold">{{ selectedRoomChat.participants[0].user.fullname }}</h6>
      <p>({{ selectedRoomChat.participants[0].user.username }})</p>
    </ng-container>
    <ng-template #groupChat>
      <img [src]="selectedRoomChat.avatar"
      [alt]="'Avatar of room chat' + selectedRoomChat.id"
      class="max-w-52 border-2 border-gray-500 rounded-full">
      <h6 class="text-xl font-semibold">{{ selectedRoomChat.name }}</h6>
    </ng-template>
  </div>
</div>
