<!-- <div
  [class]="{'justify-end': message.sentByCurrentUser}"
  class="flex items-start gap-2">
  <img
    *ngIf="!message.sentByCurrentUser"
    class="max-w-8 border-2 border-black rounded-full"
    [src]="message.senderAvatar"
    [alt]="message.sender">
  <div style="max-width: 60%;">
    <p
      [ngClass]="{
        'bg-second rounded-tl-none': !message.sentByCurrentUser,
        'bg-fourth rounded-tr-none': message.sentByCurrentUser
      }"
      [innerHTML]="message.content"
      class="p-2 rounded-lg">
    </p>
    <small [class]="{'text-end': message.sentByCurrentUser}"
    class="block py-1">{{ message.sentAt | date:"h:m EEEE" }}</small>
  </div>
</div> -->
