<div
  [class]="{'justify-end': message.sentByCurrentUser}"
  class="flex items-start gap-2">
  <img
    *ngIf="!message.sentByCurrentUser"
    class="max-w-8 border-2 border-black rounded-full"
    [src]="message.sender.avatar"
    [alt]="message.sender.fullname">
  <div style="max-width: 60%;">
    <small *ngIf="!message.sentByCurrentUser && roomChatType === 'group'" class="block py-1">
      {{ message.sender.fullname }}
    </small>

    <div
      class="p-2 space-y-1 rounded-lg"
      [ngClass]="{
        'bg-second rounded-tl-none': !message.sentByCurrentUser,
        'bg-fourth rounded-tr-none': message.sentByCurrentUser
      }">
      <p [innerHTML]="message.content"></p>
      <div class="grid grid-cols-3 gap-2">
        <ng-container *ngFor="let attachment of message.attachments">
          <ng-container *ngIf="isFile(attachment.filePath); else imageAttachment">
            <div class="bg-slate-50 flex items-center justify-between gap-2 px-4 py-2.5 rounded-md col-span-3">
              <i [ngClass]="{
                'icon-word text-blue-700': attachment.filePath.endsWith('.doc'),
                'icon-pdf text-red-600': attachment.filePath.endsWith('.pdf'),
                'icon-zip text-yellow-400': attachment.filePath.endsWith('.zip') || attachment.filePath.endsWith('.rar')
              }"
              class="text-xl"></i>
              <p>{{ getFileName(attachment.filePath) }}</p>
              <a [href]="attachment.filePath" target="_blank">
                <i class="icon-download"></i>
              </a>
            </div>
          </ng-container>
          <ng-template #imageAttachment>
            <img
            class="max-w-16 min-w-16 rounded-sm cursor-pointer"
            (click)="viewImage(attachment.filePath)"
            [src]="attachment.filePath"
            alt="Attachment of message">
          </ng-template>
        </ng-container>
      </div>
    </div>

    <small [class]="{'text-end': message.sentByCurrentUser}"
    class="block py-1">{{ message.createdAt | date:"H:m EEEE" }}</small>
  </div>
</div>
