<div class="lg:grid-cols-3 md:grid-cols-2 grid min-h-screen">
  <div class="p-4">
    <router-outlet></router-outlet>
  </div>

  <div class="banner-section md:block lg:col-span-2 relative hidden text-center text-white">
    <div class="banner brightness-75 w-full h-full bg-center bg-no-repeat bg-cover"></div>
    <div class="brightness-100 bottom-20 absolute left-0 right-0 space-y-2">
      <h4 class="flex items-center justify-center gap-3 text-5xl font-semibold">
        <img
          src="/assets/images/yuhat.svg"
          class="max-w-14 inline-block"
          loading="eager"
          draggable="false"
          alt="Yuhat logo">
        <span class="text-sky-400"><span class="text-blue-900">Yu</span>hat</span>
      </h4>
      <p class="text-xl italic">Keep your communication with everyone!</p>
    </div>
  </div>
</div>
