<form [formGroup]="resetPasswordForm" class="flex flex-col items-center justify-center gap-4 p-8" (submit)="onSubmit()">
  <img
    class="max-w-32"
    src="/assets/images/yuhat.png"
    alt="Yuhat logo"
    loading="eager"
    fetchPriority="high"
    draggable="false">

  <h1 class="text-unica-one text-3xl font-semibold text-center">Reset password</h1>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Validation Code</mat-label>
    <input matInput formControlName="validationCode" placeholder="Enter validation code" type="number">
    <mat-hint class="text-gray-500">Use validation code in mail at here</mat-hint>
    <mat-error *ngFor="let error of getObjectKeys(resetPasswordForm.get('validationCode')?.errors)">
      {{ validationCodeValidationMsg[error] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Password</mat-label>
    <input matInput formControlName="newPassword" placeholder="Your new password"
      [type]="hidePassword ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword" type="button">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngFor="let error of getObjectKeys(resetPasswordForm.get('newPassword')?.errors)">
      {{ passwordValidationMsg[error] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Password Confirmation</mat-label>
    <input matInput formControlName="passwordConfirmation" placeholder="Confirm your password"
      [type]="hidePasswordConfirmation ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation"
      [attr.aria-label]="'Hide password Confirmation'" [attr.aria-pressed]="hidePasswordConfirmation" type="button">
      <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <p class="text-red-600" *ngIf="formError">{{ formError }}</p>

  <button
    type="submit"
    class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl font-medium rounded-lg px-5 py-2.5 text-center w-full">
    Reset password
  </button>
</form>
